DATABASE_URL=postgresql://user:password@localhost:5432/db_name
BETTER_AUTH_SECRET=generate_a_strong_secret_key_here
BETTER_AUTH_URL=http://localhost:3001/api/auth

FRONTEND_URL=http://localhost:3000
PORT=3001

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
